.container{ 
  width: 400px ; 
  background-color: gray ; 
  display:flex;
  
  
}

.box{
  height: 100px;
  width: 100px;
  border:1px solid yellow;
  box-sizing: border-box;
  color:#fff;
  margin : 20px;
  
  
}

.box.blue{
  
  background-color: #00F;

  
}

.box.red{
 
  
  background-color: #F00;
}

.box.green{
 
  
  background-color: green;
}